.conda
Human Action Recognition
main.ipynb
resnet.tflearn/
notebook392a344aff.ipynb
resnet.h5
vgg.h5
main_ed.ipynb
malaria-detection/cell-images-for-detecting-malaria
keys.json
sentiment140/
boston-house-price-pred/boston-house-prices
__pycache__